.container{
 
}



.six-box{
   display: flex;
   align-items: flex-start;
   flex-wrap: wrap;
   align-items: center;
   align-content: center;
   justify-content: space-around;

}


.box{
   width: 200px;
   height: 200px;
   min-width: 30%;
   margin: 15px;
   background-color: #5c5c5c;
   transition: 5s;
   transform: rotateX(150px);
}



.show{
   transition: 5s;
   display: block;
}

.del{
   transition: 5s;
   display: none;
}